<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" type="text/css" rel="stylesheet" />
    <title>Home</title>
</head>
<body>
    <form class="center-container" action="/logout" method="GET">
        <h1>Name: <%= name %></h1>
        <h2>Email: <%= email %></h2>
        <br />
        <button>Logout</button>
    </form>
</body>
</html>